@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';

.btn {
  border: 2px solid lightgrey;
  text-decoration: none;
  color: darkgray;
  margin: 0em $margin-sm;
  background: none;
  border-radius: 5px;
  padding: $padding-xs $padding-sm;

}
