@import '../../../assets/styles/fonts.scss';
@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/sizing.scss';

.register_btn {
  width: $btn-width-sm;
  text-align: center;
  padding: $padding-btn;
  color: $color-accent;
  border: $border-register;
  font-weight: $medium-weight;
  text-decoration: none;
  background-color: transparent;
}
