.container_pending{
  color:#4e4945;
  width: 100%;
  height: 100%;
  background-color:#efece9 ;
.icon{
  display: flex;
  justify-content: center;
}
  .content_pending{
    position: absolute;
    left: 30%;
    top: 20%;
      }
h3{
  text-align: center;
  margin-bottom: 2rem;
}

.buttonGroup{
  margin-top: 2rem;
  display: flex;

}

.respond{
  padding-top: 1rem;
}
}

.text_content{
  margin-top:1rem
  
}