@import './../../../assets//styles/colors';
@import './../../../assets//styles/sizing';
@import './../../../assets//styles/fonts';

.bg_popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_area {
  text-align: center;
  position: absolute;
  background: #f9f9f8;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.close {
  text-align: right;
  padding: $padding-sm $padding-md;
}

.popup_body {
  margin: 0em 2em 2em;
  width: 316px;

  section{
    display: flex;
    align-items: flex-end;
    margin: 2rem 0rem;

    div{
      margin-right: 1rem;
    }
  }
}


.form {
  input:last-of-type {
    padding-top: $padding-lg;
  }
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: $small-size;
    margin-top: $margin-sm;
    color: $color-accent;
  }
}
.rsvp{
  display: flex;
  margin-top: 1rem;
}
.button_items {
  margin: $margin-md $margin-xs;
}

.form_button {
  margin: $margin-lg 0em;
  button {
    padding: $padding-xs;
    width: 100%;
  }
}
.footer {
  text-align: left;
  display: flex;
  flex-direction: column;
  span {
    font-size: $small-size;
    margin-bottom: $margin-sm;
  }
}


.send{
  margin: 2rem;
  display: flex;
  div{
    display:flex;
    align-items: center;
    padding-left:1rem
  }
}

.submitClose{
  display: flex;
  justify-content: flex-end;
  }