@import './../../../../assets/styles/colors';
@import './../../../../assets/styles/fonts';
@import './../../../../assets/styles/sizing';

.container {
  width: 32%;

  h2{
    text-align: center;
    margin-bottom: 3rem;
  }
}

.content_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}