@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/sizing.scss';

.container {
  box-sizing: border-box;
  padding-right: 3em;
  width: 15em;
}
.wrapper {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  svg {
    color: $color-accent-dark;
  }
}
