@import './../../../assets/styles/colors';
@import './../../../assets/styles/fonts';
@import './../../../assets/styles/sizing';

.container {
  width: 100%;
  color: $color-accent-dark;
}
.title_dashboard {
  font-weight: $bold-weight;
  color: $color-accent-dark;
  padding-bottom: $padding-md;
}

.section1 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: $margin-sm;
  margin-bottom: $margin-md;
}


.category_button {
  button {
    text-align: left;
    width: 20%;
  }
}

.section2 {
  .section2_content {
    display: flex;
    margin-top: 2rem;  }
  .section2_title {
    margin: $margin-md 0em;

    span {
      font-size: 1.5rem;
      color: $text-color-gray;
    }
  }
}
.listItems {
  width: 30%;
  .add_category_button {
    button {
      padding-right:2rem;
    }
  }
}
.deleteGuest {
  text-decoration: none;
  border-style: none;
  border: none;
  color: #4e4945;
  opacity: .2;
  background-color: transparent;
  &:hover {
    color: rgba(83, 80, 80, 0.87);
    opacity: 1;
  }
}
.item {
  color: $text-color-gray;
  font-weight: $medium-weight;
  display: flex;
  justify-content: space-between;
  margin: $margin-sm 0em;
  padding: $padding-sm;
  background-color: $dashboard-accent-beige;
  border-radius: $raduis-dashboard-button;
  cursor: pointer;
}
.bottomWrapper{

  border-top: 1px solid rgba(128, 128, 128, 0.112);
  display: flex;
  margin: 0rem 1rem;
  padding: 1.5rem 0rem;
  justify-content: space-between;
    max-width: 90%;
      div{
    font-weight: 600;
    font-size: .9rem;
    }
  .total{margin-right: 5rem;}
}

.active_item{
  color: $text-color-gray;
  font-weight: $medium-weight;
  display: flex;
  justify-content: space-between;
  margin: $margin-sm 0em;
  padding: $padding-sm;
  background-color: #dcd9d6;
  border-radius: $raduis-dashboard-button;
  cursor: pointer;
}
.price{
  width: 70px !important;
}


.item_detail {
  background-color: white;
  margin: 0rem 2em;
  margin-left: 2em;
  width: 70%;
  height: 10%;
  border-radius: 4px;
.header{
  display: flex;
}
  .title_detail {
    width: 95%;
    margin: $margin-sm 0rem;
    text-align: center;
    font-size: 1rem;
    font-weight: $semi-weight;
    border-radius: $raduis-dashboard-button;
    margin-top: 2rem;
  }

  .deleteCategory{
    text-decoration: none;
    border-style: none;
    background: none;
  border: none;  
 color: #4e4945;
 opacity: .2;
 
 &:hover{
  color: #cd8256;
  opacity: 1;
 }
  }

  hr {
    margin-top: $margin-xs;
    background: #eeeeee;
    height: 1px;
    border: 0px;
  }
  .remove_button {
    display: flex;
    justify-content: flex-end;
    margin: $margin-md 0em;
    button {
      margin: 0em;
    }
  }
}

.container_items {
  padding: $padding-md;

  hr {
    margin-top: $margin-xs;
    background: $text-color-gray;
    height: 1px;
    border: 0px;
  }

  .column_wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-weight: $semi-weight;
    color: #8a8784;
    margin-bottom: $margin-xs;
  }
}

.card_wrapper {
  font-size: .9rem;
  margin: $margin-sm 0em;
}
.card {
  color: #716c69;
  font-weight: 500;
  border: 1px #f9f8f8 solid;
  padding: 1em;
  background: #f9f8f8;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;

  .price{
    width: 90px!important;
    display: flex;
  justify-self: center;   }
}
.card_active{
  color: #716c69;
  font-weight: 500;
  border: 1px #f9f8f8 solid;
  padding: 1em;
  background: #b57878;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;

}
