@import './../../assets/styles/colors';
@import './../../assets/styles/sizing';
@import './../../assets/styles/fonts';

.container {
  margin: $margin-lg;

  h2 {
    margin: $margin-md 0em;
  }
}

.preview_container {
  background-color: white;
  border-radius: $raduis-dashboard-button;
  box-shadow: $light-box-shadow;
  display: flex;
}

.preview_body {
  margin: 0em $margin-md;
  margin-left: auto;
  margin-right: $margin-sm;
}
.groupItems {
  display: flex;
}

.item {
  padding: $padding-sm 0em $padding-md;
  text-align: center;
  margin-right: $margin-lg;
  color: $color-accent-brown;
  svg {
    margin: $margin-xs;
    padding: $padding-xs;
  }
}

.item_title {
  font-weight: $semi-weight;
  span {
    opacity: 50%;
  }
}

.preview_header {
  margin: $margin-sm 0em;
  display: flex;
  justify-content: space-between;
  .header_button {
    font-weight: $semi-weight;
    svg {
      padding: 0em $padding-xs;
    }
  }
}

.wedding_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.823), rgba(255, 255, 255, 0.823)),
    url('https://res.cloudinary.com/dmj6tqnkw/image/upload/v1649427025/Bridelinks/pexels-trung-nguyen-2959192_vyaqqe.jpg');
  background-size: cover;
}

.nameCouple {
  font-weight: $semi-weight;
}
