@import './../../../assets//styles/colors';
@import './../../../assets//styles/sizing';
@import './../../../assets//styles/fonts';

.bg_popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_area {
  text-align: center;
  position: absolute;
  background: #f9f9f8;
  left: 50%;
  top: 50%;
  width: 40%;
  transform: translate(-50%, -50%);

  h2{
  margin-bottom: 2rem;
  }
}
.close {
  text-align: right;
  padding: $padding-sm $padding-md;
}

.popup_body {
  padding: 0em $padding-xl $padding-lg;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  input:last-of-type {
    padding-top: 2em;
    margin-top: 1rem; 
   }
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: $small-size;
    margin-top: $margin-sm;
    color: $color-accent;
  }
}

.button_items {
  margin: $margin-md $margin-xs;
}

.form_button {
  margin: $margin-lg 0em;
  button {
    padding: $padding-xs;
    width: 100%;
  }
}
.footer {
  text-align: left;
  display: flex;
  flex-direction: column;
  span {
    font-size: $small-size;
    margin-bottom: $margin-sm;

  }
}


