@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';
@import './../../../assets/styles/fonts';

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: $padding-xs;
  outline: none;
  border: none;
  overflow: hidden;
  background: none;
}
.dropdown {
  border: $border-dropdown;
  position: absolute;
  background-color: white;
  font-size: .8rem;
  z-index: 2;
  font-weight: 500;
}
.item {
  padding: $padding-xs;
  list-style-type: none;
  &:hover {
    a {
      color:  $color-accent;
    }
  }
}

.ArrowUp {
  transition: all 0.5s ease;
  transform: rotate(180deg);
}
.ArrowDown {
  transition: all 0.5s ease;
  transform: rotate(0deg);
}
