@import '../../assets/styles/colors.scss';
@import '../../assets/styles/sizing.scss';
@import '../../assets/styles/fonts.scss';

.container {
  margin: 0rem 5rem;
  bottom: 50px;
  position: relative;
   h2 {
    margin-bottom: $margin-md;
  }
}

.section1 {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;

  .text_right {
    padding-top: 2rem;
    p{
      width: 457px;
    }
  }
  .group_images {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 4rem;
    .image1 {
      position: relative;
      top: 0;
      left: 0;
      width: 70%;
    }
  
    .image2 {
      position: absolute;
      width: 50%;
      top: 40%;
      left: 40%;
    }
  }

}

.section2 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: 12rem 0rem;
  
  .text_imgs {
    padding-top: 4rem;
    margin-right: 7rem;
    h2 {
      margin-bottom: $margin-md;
    }
    p {
      line-height: 1.5em;
      width: 390px;
    }
  }
}



.image_vendor {
  width: 50%;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}
