@import './../../../assets/styles/fonts';
@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';

.container {
  width: 100%;
  background-color: $color-primary-bg;
  margin-bottom: 3rem;
}
.cover{
  position: relative;
  background-color: rgba(175, 70, 32, 0.125);
  margin: 3rem;
  margin-bottom: 10rem;
  height: 55vh;
  .cover_content{
    position: absolute;
    display: flex;
    top: 60px;
    justify-content: space-around;
    width: 100%;
  }
}
.card_title{
  margin-bottom: 1rem;
}
.card{
  box-shadow:  0px 3px 6px #af462024;
  font-size: .9rem;
  background: white;
  padding: 1rem;
  width: 25%;
  color:#4e4945;
  .icon{
    opacity: .7;
    margin:.5rem
  }
span{
  margin: 1rem 0rem;
}
}
  .image-container
{  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 600px;
  grid-gap: 0.5rem
}
  .image
   {
     position: relative;
    padding-bottom: '100%';
  }

.checklist{
  div{
    display: flex;
    align-items: center;
    svg{
      margin-right: 1rem;
    }
  }
  margin:1rem 0rem;
  list-style: none;
  li{
    font-weight: 600;

    margin: .4rem 0rem;
    border-bottom: 2px solid white;
     cursor: pointer;
    &:hover{
      color:$dashboard-accent;
      border-bottom: 2px solid $dashboard-accent;
    }
  }
}
.section2{
  margin:0rem 3rem;
  div{
    margin: 2rem 0rem;
  }
}