@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';
@import './../../../assets/styles/fonts';

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 5rem;
  justify-content: space-between;
  padding: 0.5em;
  background-color: #eacab8;
  border-radius: 4px;
  outline: none;
  border: none;
  overflow: hidden;
  color: #af4720;
}
.dropdown {
  border: $border-dropdown;
  position: absolute;
  background-color: #eacab8;
  font-size: $small-size;
  z-index: 2;
  width: 5rem;
  margin: 0.2rem 0rem;
  transition: all .4s ease-in-out;
}
.item {
  padding: $padding-xs;
  list-style-type: none;

  &:hover {
    background-color: $color-accent;
    opacity: 0.9;
    a {
      color: $color-text-btn;
    }
  }
}

.ArrowUp {
  transition: all 0.5s ease;
  transform: rotate(180deg);
}
.ArrowDown {
  transition: all 0.5s ease;
  transform: rotate(0deg);
}
