@import './../../../../assets/styles/colors';
@import './../../../../assets/styles/fonts';
@import './../../../../assets/styles/sizing';
.container {

  h2{
    text-align: center;
    margin-bottom: 3rem;
  }

  section{
    display: flex;
    margin:0rem .5rem
  }
}

.inputForm{
  margin:0rem 1rem
}

.content_container{
  display: flex;
  align-items: center;
  justify-content: space-around;

}