@import './../../../assets/styles/colors.scss';
@import '../../../assets/styles/fonts.scss';
@import '../../../assets/styles/sizing.scss';

.discover_btn {
  width: $btn-width-lg;
  padding: $padding-xs;
  color: $color-text-btn;
  font-weight: $medium-weight;
  background-color: $color-accent-dark;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  border:2px solid $color-accent-dark;
  &:hover{
    font-weight: $medium-weight;
   color:$color-accent-dark;
    border:2px solid $color-accent-dark;
    background-color: transparent;
  }

}
