@import './../../assets/styles/colors';
@import './../../assets/styles/sizing';
@import './../../assets/styles/fonts';

.icons_group {
  display: flex;
}
.icon_item {
  padding: $padding-xs;
}

.footer {
  display: flex;
  margin: 3rem 0em;
  justify-content: space-around;
  background-color: white;
}
.title_footer {
  text-align: center;
  font-family: $font-h1;
  margin-bottom: $margin-sm;
}
.column_footer {
  align-items: center;
  display: flex;
  flex-direction: column;

  button {
    margin: $margin-sm;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 15%;
  vertical-align: middle;
}

.policy {
  padding: $padding-md;
  width: 100%;
  background-color: $color-primary-bg;
  p {
    text-align: center;
    font-size: $small-size;
    color: grey;
  }
}

.info_vendor {
  margin-left: auto;
  display: flex;
  text-align: left;
  width: 70%;
}

.icon_copyright {
  padding: 0em $padding-sm;
}
