@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/sizing.scss';

.download_btn {
  display: flex;
  align-items: center;
  color: rgb(250, 247, 244);
  width: 48%;
  padding: 0.4rem 0rem;
  background-color: rgb(175, 71, 32);
  opacity: 0.8;
  text-decoration: none;
  border-style: none;
  transition: 0.2s;

  &:hover{
    opacity: 1;
  }
}
.button_icon {
  padding-right: 1rem;
  padding-left: 1rem;
}
.button_text {
  padding: $padding-xs 0em;
}
