@import './../../../assets//styles/colors';
@import './../../../assets//styles/sizing';
@import './../../../assets//styles/fonts';

.bg_popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(0 0 0 / 13%);}

  .notChoice{
    display: flex;
    margin:2rem 0rem;
    justify-content: center;
    align-items: center;
  }
.popup_area {
  text-align: center;
  position: absolute;
  background: #f9f9f8;
  left: 50%;
  top: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
}
.close {
  text-align: right;
  padding: $padding-sm $padding-md;
}

.popup_body {
  padding: 0em $padding-xl $padding-lg;
  
  h3{
    margin-bottom: 2rem;
  }
}

.input{
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}


.popup_content{
  flex-direction: column;
  justify-content: center;
}

.saveButton{
  display: flex;
  justify-content: flex-end;
  margin-right: 9px;
}