@import './../../assets/styles/colors';

.guest_item {
  color: #4e4945;
  align-items: center;
  background-color: #efece9;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0rem;
  margin-top: 1em;
  height: 3.5rem;
  .person_data {
    width: 300px;
    text-align: center;
  }

  .icon {
    color: $dashboard-accent;
    padding: 0em $padding-xs;
  }
}
