@import './../../../../assets/styles/colors';
@import './../../../../assets/styles/fonts';
@import './../../../../assets/styles/sizing';

.container {
  section{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    span{
      margin-right: 1.5rem;
    }
    .partner{
      margin-left:1.5rem
    }
  }

  h2{
    text-align: center;
    margin-bottom: 3rem;
  }
}

.me{
  display: flex;
}
.inputForm{
  padding: 0em .2rem;
}

