@import './../../assets/styles/fonts';
@import './../../assets/styles/colors';
@import './../../assets/styles/sizing';

.container {
  display: flex;
  margin-top: $margin-sm;
  right: 0;
  color: $color-accent-dark;
  position: fixed;
  font-size: 1.2rem;
}

.content {
  margin-right: $margin-lg;
  #name {
    font-weight: $medium-weight;
  }
}
.icons {
  svg {
    padding: 0em $padding-xs;
  }
}
