@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';

.dashboard_button {
  border: 2px solid $dashboard-accent;
  text-decoration: none;
  color: $dashboard-accent;
  margin: 0em $margin-sm;
  background: none;
  border-radius: 5px;
  padding: $padding-xs $padding-sm;
  box-sizing: border-box;

  svg {
    margin-right: $margin-xs;
  }

  &:hover{
    box-shadow: 0 0 0 1px $dashboard-accent;
  }
}
