@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';
@import './../../../assets/styles/fonts';

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: $padding-xs;
  background-color: $btn-accent-light;
  border-radius: $raduis-dashboard-button;
  outline: none;
  border: none;
  overflow: hidden;
  color: $color-accent;
}
.dropdown {
  border: $border-dropdown;
  position: absolute;
  background-color: white;
  font-size: $small-size;
  z-index: 2;
}
.item {
  padding: $padding-xs;
  list-style-type: none;

  &:hover {
    background-color: $color-accent;
    opacity: 0.9;
    a {
      color: $color-text-btn;
    }
  }
}

.ArrowUp {
  transition: all 0.5s ease;
  transform: rotate(180deg);
}
.ArrowDown {
  transition: all 0.5s ease;
  transform: rotate(0deg);
}
