@import './../../assets/styles/colors';
@import './../../assets/styles/sizing';
@import './../../assets/styles/fonts';

.container {
  background-color: $color-primary-bg;
  padding: 4em 6em 6em 6em;
  display: flex;
  justify-content: center;

  .text_download {
    width: 50%;
    padding-top: $padding-2xl;
    margin-left: auto;
  }
}
.split {
  margin: $margin-md;
  display: flex;
  h2 {
    margin-bottom: $margin-sm;
  }
}

.couple_image {
  width: 40%;
}
.buttonGroup {
  width: 50%;
  margin-top: $margin-lg;
  button {
    margin-top: $margin-md;
  }
}
