@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';

.slider_button {

  font-size: 1rem;
  background-color: $color-accent;
  text-decoration: none;
  border-style: none;
  color: white;
  border-radius: $raduis-dashboard-cards;
  padding: $padding-xs 4em;
  svg {
    margin-right: $margin-xs;
  }

}

