@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';
@import './../../../assets/styles/fonts';

.container {

  input[type="checkbox"] {
    display: none;
    &+label {
      position: relative;
      padding-left: 35px;
      margin-bottom: 20px;
      cursor: pointer;
    }
    &+label:last-child {
      margin-bottom: 0;
    }
    
  }

  .isDone {
    &+label::before {
      content: '';
      width: 10px;
      height: 20px;
      border: 2px solid #b27049;
      position: absolute;
     top: -5px;
      left: 5px;
      opacity: .6;
      text-decoration: line-through;
      transition: all .12s, border-color .08s;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(45deg);  
    }     

    &+label span{
      color:#b27049;
      text-decoration: line-through;
    }
    &:checked+label:before {
      width: 10px;
      top: -5px;
      left: 5px;
      background: none;
      border-radius: 0;
      color:none;
      background-color: none;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(45deg);
    }
  }



  .notDone {
    &+label::before {
      content: '';
      width: 20px;
      height: 20px;
      border: 2px solid #bbb4ae;
      border-radius: 3px;
      position: absolute;
      opacity: .6;
      left: 0;
      top: 0;
      opacity: .6;
      transition: all .3s ease;
   
   }

      &:checked+label:before {
      width: 10px;
      top: -5px;
      left: 5px;
      background: none;
      border-radius: 0;
      color:none;
      background-color: none;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(45deg);
      
    }
    &+label:hover::before{
      border: 2px solid #ec8f59ac;
      background-color: #e396695b;
      opacity: 1;
    }

    &:checked+label::before{
      border: 2px solid #bbb4ae;
      background: none;
      border-top-color: transparent;
      border-left-color: transparent;
    }

  }

}