.container{
  position: fixed;
  background-color:#efece9 ;
  color:#4e4945;
  width: 100%;
  height: 100%;
  font-weight: 500;
   
  span{
    font-weight: 600;
  }
  section{
    margin: 2rem 1rem
  }
}