@import './../../../assets//styles/colors';
@import './../../../assets//styles/sizing';
@import './../../../assets//styles/fonts';

.bg_popup {
  font-size: .9rem;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  h2{
    text-align: center;
    margin-bottom: 1rem;
  }
}


.popup_area {
  position: absolute;
  background: #f9f9f8;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.close {
  text-align: right;
  padding: $padding-sm $padding-md;
}
.popup_body {
  padding: 0em 7em 2em;
  h4 {
    margin-bottom: 2rem;
  }

}

.content {
  text-align: left;
  width: 100%;
  .container{
    width: 157px;
  }
.short_items {
  align-items: flex-end;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2rem 0rem;
  row-gap: 15px;
  -moz-column-gap: 10px;
  column-gap: 37px;
}
.zipcode{
width: 70px;
}

text-align: left;

div {
  label {
    font-weight: 600;
    font-size: .8rem;
  }
}

}

.plusOne{
  margin: 1.5rem 0rem;
  display: flex;
}

.submitClose{
  display: flex;
  justify-content: flex-end;}
  
  .section2{
    div{
      display: flex;
    }
    margin-top:2rem;
    span:first-of-type{
    margin-right: 1rem;
    }
    .checkPlus{
      input{
        margin-right: 1rem;

      }
    }
  }
  .section3{
    margin-top:2rem;

    .item{
      display: flex;
      flex-direction: column;
      padding-right: 2rem;
    }
    label {
      font-weight: 600;
      font-size: .8rem;
    }
  }
