@import './../../../assets/styles/colors.scss';
@import '../../../assets/styles/fonts.scss';
@import '../../../assets/styles/sizing.scss';

.portal_btn {
  width: $btn-width-md;
  text-align: center;
  padding: $padding-xs;
  color: $color-accent-brown;
  border: $border-portal;
  font-weight: $medium-weight;
  text-decoration: none;
  margin: $margin-sm;
  transition: 0.2s;

  &:hover{
    background-color: $color-accent-brown;
    color:$color-text-btn
  }
}
