@import './../../../assets/styles/colors';
@import './../../../assets/styles/fonts';
@import './../../../assets/styles/sizing';


.container {
  width: 100%;
  color: $color-accent-dark;
}

.title_dashboard {
  margin-left: $margin-sm;
  font-weight: $bold-weight;
  color: $color-accent-dark;
  padding-bottom: $margin-md;
}
.column {
  display: flex;
  flex-direction: column;
}
.boxes {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.numbers_guests {
  background-color: $dashboard-accent-beige;
  border-radius: $raduis-dashboard-button;
  display: flex;
  justify-content: space-evenly;
  padding: $padding-sm 0rem;
  width: 50%;
  align-items: center;
  .title {
    margin-right: $margin-lg;
    font-weight: $semi-weight;
  }
}
.number {
  color: $text-color-gray;
  font-weight: $medium-weight;
}
.row {
  display: flex;
  padding: $padding-xs;
  justify-content: space-between;
}

.identity_guests {
  display: flex;
  width: 30%;
  padding: $padding-xs $padding-sm;
  border-radius: $raduis-dashboard-button;
  background-color: $dashboard-accent-beige;
  justify-content: center;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-sm;
  }
  .title {
    font-weight: $semi-weight;
    padding-bottom: $padding-xs;
  }
}
.vertical_line {
  border-left: 1px solid #ceccca;
  height: 45px;
}

.main_body {
  margin-top: 6em;
}

.main_content {
  background-color: white;
  margin: $margin-md 0em;
  padding: $padding-md;
  .header {
    margin-top: $margin-xs;
    display: flex;
    justify-content: space-between;

    .search {
      margin-right: $margin-md;
    }
  
  }
  .deleteGuest{
    text-decoration: none;
    border-style: none;
  border: none;  
 color: #4e4945;
 opacity: .2;
 
 &:hover{
  color: #cd8256;
  opacity: 1;
 }
}
.group_search{
  display: flex;

}


  .title_category {
    display: flex;
    justify-content: space-between;
    color: $color-accent-dark;
    font-size: 1.3em;
    font-weight: $bold-weight;
    margin-bottom: $margin-md;
    padding-bottom: 1rem;
    border-bottom: 1px solid #efeeeb;
    div span{
      font-weight: $light-weight;
      font-size: 1rem;
      padding-left: .8rem;
    }

  }
}

.buttonsGroup{
  display: flex;
  flex-direction: flex-end;
  justify-content: space-between;
}
.guest_item {
  color: #4e4945;
  background-color: #efece9;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
    margin-top: 1em;
  height: 4.5rem;

  .active {
    color: #cd8256;
    padding: 0em $padding-xs;
  }
  .disabled {
    color: #cd8256;
    padding: 0em $padding-xs;
    opacity: 0.3;
  }

  &:hover{
background-color:#efece9af;
  }
}
.tabs {
  top: 63px;
  position: relative;
    button {
          text-decoration: none;
    border-style: none;
    background: none;
    color: $dashboard-accent;
    padding: 0.5em 1em;
    margin-right: 2rem;  }
}.active {
  border-bottom: 3px solid $dashboard-accent !important;
  color: $dashboard-accent !important;
}
