@import './../../../assets/styles/fonts';
@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';

.container {
  width: 100%;
  background-color: #f9f9f8;
  padding: 2em 4em;
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;
  align-items: center;

  
  section{
    display: flex;
    flex-direction: column;
   margin: 1rem 0rem;
   justify-content: center;
   width: 70%;
   background-color: white;
   padding: 2rem;
   border-radius: 4px;
   box-shadow:  0px 3px 6px #633d2f11;
   h4{
    margin:.5rem
   }
   label {
    font-weight: 600;
    font-size: .8rem;
  }
  span{
    color: #4e4945;
    margin-bottom: 2rem;
    }
   }

hr{
  border:none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.234);
  margin-bottom: 1rem;
}

}

.cadre_content{
  padding:1rem 0rem;
}
.personal_cadre{
  padding: 1rem 0rem;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  width: 45%;
}
.content_upload{
  margin:1rem
}