@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/sizing.scss';

.container {
  padding: 0 $padding-md;
  background-color: $color-primary-bg;
  overflow: hidden;
}

.vendorForm {
  padding-top: $padding-md;

  form {
    display: flex;

  }
}

.main {
  position: relative;
  box-sizing: border-box;
}

.primary_arc {
  position: absolute;
  top: 0;
  width: 55%;
}

.text_top {
  left: $padding-md;
  top: 22%;
  width: 80%;
  position: absolute;

  h1 {
    margin-bottom: 1rem;
  }

  h4 {
    padding: $padding-xs;
  }
  p{
    margin-bottom: 1rem;
  }
}

.text_bottom {
  padding-top: $padding-lg;

  h4 {
    padding: $padding-xs;
  }
}