@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';
@import './../../../assets/styles/fonts';

.dropdownMenu {
  margin-bottom: 2em;
  font-size: $small-size;
  padding: 0.5em;

  Input {
    border: none;
  }

  input[type='date'] {
    position: relative;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
  }
}

.titleDropdown {
  padding: 0em $padding-sm;
  font-weight: $semi-weight;
}

.containerButton {
  border-style: none;
  background: none;
  color: $color-accent-dark;
}

.ArrowUp {
  transition: all 0.5s ease;
  transform: rotate(180deg);
}
.ArrowDown {
  transition: all 0.5s ease;
  transform: rotate(0deg);
}
