@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';
@import './../../../assets/styles/fonts';

.dropdownMenu {
  margin: $margin-xs $margin-sm;
  padding: $padding-xs;
  font-size: .5em;
  Input {
    padding: $padding-sm;
    border: none;
    font-size: $small-size;
  }

  input[type='date'] {
    position: relative;
    width: $btn-width-md;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
  }
}

.normal{
  margin: $margin-xs 0em;
  width: 100%;
  Input {
    max-width: 100%;
  padding: 0.9em;
    border: none;
    font-size: 0.8em;
  }
}

.comment{
  margin: $margin-xs 0em;
  Input {
  padding: 0.8em;
    border: none;
    font-size: 0.7em;
  }
}