@import './../../assets/styles/colors';
@import './../../assets/styles/sizing';

.wrapper {
  width: 800px;
  margin: 30px auto;
}

.tabs {
  top: 63px;
    position: relative;
  button {
    text-decoration: none;
    border-style: none;
    background: none;
    color: $dashboard-accent;
    padding: $padding-xs $padding-sm;
  }
}
.active {
  background-color: $dashboard-accent !important;
  color: white !important;
}
