@import './../../assets/styles/colors';
@import './../../assets/styles/sizing';
@import './../../assets/styles/fonts';

.container {
  background-color: $bg-lightest;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 160vh;
  position: relative;
  .img_arc {
    text-align: center;
  }
}

.content_features {
  position: absolute;
  top: 15%;
}
.text_features {
  text-align: center;
  h2 {
    margin-bottom: $margin-md;
  }
}
.cards {
  margin-top: $margin-lg;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.card_item {
  text-align: center;
  width: 25%;
  padding: $padding-sm;
  margin: $margin-md;
  background-color: white;

  .title {
    font-weight: $medium-weight;
    margin: $margin-sm 0em;
  }

  .text {
    padding: 0em $padding-sm;
    margin-top: $margin-sm;
    text-align: center;
  }

  svg {
    margin-top: $margin-sm;
  }
}
.started {
  display: flex;
  justify-content: center;
  margin: $margin-md;
  button {
    padding: $padding-sm;
    width: 20%;
  }
}
