@import './../../assets/styles/sizing';
@import './../../assets/styles/colors';
@import './../../assets/styles/fonts';

.showCounter {
  display: flex;
}

.expired{
  font-size: .9rem;
}
.countContainer {
  box-sizing: border-box;
  padding: $padding-xs;
  flex-basis: 100%;
  text-align: center;
}
.title {
  font-weight: $bold-weight;
  font-size: $small-size;
  margin-top: $margin-sm;
  color: $color-accent-brown;
}

.redBorder {
  background-color: white;
  border: $border-countdown;
  border-radius: $raduis-dashboard-button;
  padding: $padding-sm;
  margin: $padding-xs;
}

.countContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f8f8;
  border-radius: $raduis-dashboard-button;
  width: 40px;
  height: 50px;
  margin: $margin-sm;
}

.title2 {
  font-weight: $semi-weight;
  font-size: 10px;
  color: #837e7b;
}
