@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';
@import './../../../assets/styles/fonts';

.bg_popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_area {
  text-align: center;
  position: absolute;
  background: #f9f9f8;
  left: 50%;
  top: 50%;
  width: 35%;  transform: translate(-50%, -50%);

}
.close {
  text-align: right;
  padding: $padding-sm $padding-md;
}

.popup_body {
  padding: 0em 4em 2em; 
   h4{
  margin-bottom: 2rem;
  }
  
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  .item{
    margin-bottom: 2rem;
  }
  padding-top: 2rem;
  width: 407px;
  .short_items{
display: flex;
align-items: center;
  }
  .date_item{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }
  .category_item{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;

.input{
  select{
    padding: 0.3em;
    margin: 0.5rem 0rem;
    background-color: none;
    border-radius: 4px;
    border: 1px solid #4e4945;
    outline: none;
    overflow: hidden;
    background-color: #f9f9f8;
    color: #4e4945;

option{
  border: 1px #cecdcd solid;
  position: absolute;
  background: #f9f9f8;
  z-index: 2;
  width: 7rem;
  border-radius: 4px;
  margin: 0.2rem 0rem;
  transition: all 0.4s ease-in-out;}
  }
}
      }
  .mark{
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
   label{
    margin-top: .5rem;
    margin-right: 1.5rem;
   }

  }

  text-align: left;
  div{
    label{
      font-weight: 600;
      font-size: .8rem;
    }
  }
  
.input{
  padding:0;
  div{
    padding:0
  }
}
}
.form {
  input:last-of-type {
    padding-top: $padding-lg;
  }
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: $small-size;
    margin-top: $margin-sm;
    color: $color-accent;
  }
}

.saveTask{
  display: flex;
    justify-content: flex-end;
}

.button_items {
  margin: $margin-md $margin-xs;
}

.form_button {
  margin: $margin-lg 0em;
  button {
    padding: $padding-xs;
    width: 100%;
  }
}


