@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';

.dashboard_button {
  background-color: $color-accent;
  text-decoration: none;
  border-style: none;
  color: $color-text-btn;
  border-radius: $raduis-dashboard-cards;
  padding: $padding-xs $padding-sm;

  svg {
    margin-right: $margin-xs;
  }
}
