@import './../../../assets//styles/colors';
@import './../../../assets//styles/sizing';
@import './../../../assets//styles/fonts';

.bg_popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.popup_area {
  text-align: center;
  position: absolute;
  background: #f9f9f8;
  left: 50%;
  top: 50%;
  width: 45%;
  transform: translate(-50%, -50%);

}

.close {
  text-align: right;
  padding: $padding-sm $padding-md;
}

.popup_body {
  padding: 0em 3em 2em;
  h4 {
    margin-bottom: 2rem;
  }

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
    text-align: left;
    width: 100%;
    .container{
      width: 157px;
    }
  .item {
   }
    .css-1dehfy1 {
      min-width: 60px;
  }
  .short_items {
    align-items: flex-end;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem 0rem;
    row-gap: 15px;
    -moz-column-gap: 10px;
    column-gap: 37px;
  }
.zipcode{
  width: 70px;
}

  text-align: left;

  div {
    label {
      font-weight: 600;
      font-size: .8rem;
    }
  }

}



.checkboxes{
  margin:1.5rem 0rem;
  display: flex;
  span
{ 
   margin-right:1rem
}
div{display: flex;}
  .check{
    margin-right: 1rem;
    display: flex;
    align-items: center;
label{
  padding-top: .1rem;

}

div{
  margin-left: .7rem;
  width: 15px;
  height: 15px;
}
}

}