@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';
@import './../../../assets/styles/fonts';


.dropdownMenu {
  z-index: 3;
  border: $border-dropdown;
  position: absolute;
  margin: $margin-sm 0em;
  font-size: $small-size;
  background-color: $color-primary-bg;
}

.menuItem {
  padding: 1em;
  display: flex;
  flex-direction: column;

  li {
    list-style-type: none;
    padding:.3rem;

  }
}


.logoutButton{
  text-decoration: none;
  border-style: none;
  color: grey;
  border-top: 0.5px solid #eae3dd;
  background: none !important ;
  width: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;

  &:hover {
    background-color: $color-accent;
    opacity: 0.9;
    color: $color-accent;

   }
}

.userName {
  padding: 0em $padding-sm;
}

.containerButton {
  border-style: none;
  background: none;
  color: $color-accent-dark;
}

.ArrowUp {
  transition: all 0.5s ease;
  transform: rotate(180deg);
}
.ArrowDown {
  transition: all 0.5s ease;
  transform: rotate(0deg);
}
