@import './../../../assets/styles/fonts';
@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';

.container {
  width: 100%;
}
.content_top {
  display: flex;
  align-items: center;
  margin-top: $margin-sm;
  border-radius: $raduis-dashboard-button;

  background-color: white;
  box-shadow: $light-box-shadow;
  .count_wedding {
    text-align: center;
    padding: $padding-sm;
    background-color: #dbd3c8;
  }
  .progress {
    margin-left: 3rem;
    width: 60%;
  }
}

.title_dashboard{
  font-weight: $bold-weight;
  color: $color-accent-dark;
}

.linearProgress {
  margin: $margin-xs 0em;
}

.numbers {
  display: flex;
  margin-top: $margin-sm;
  font-weight: $medium-weight;
  color: $color-accent-dark;
  justify-content: space-between;
  div {
    margin-right: $margin-xs;
  }
}

.cards {
  margin-top: $margin-lg;
  display: flex;
}
.card_category {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: $margin-md;
  padding: $padding-xs $padding-sm;
  background-color: white;
  box-shadow: $light-box-shadow;
  transition: all .3s ease-in-out;
  cursor: pointer;
&:hover{
  transform: scale(1.1);
}

}
.arc_icon {
  position: relative;
  svg {
    position: absolute;
    top: 30%;
    right: 30%;
  }
}
.card_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  span {
    font-weight: $semi-weight;
    font-size: 1.2rem;
    color: $color-accent-dark;
  }
}

.card_numbers {
  text-align: center;
  color: $text-color-gray;
  padding-top: $padding-xs;
  margin: $margin-xs 0em;
}

.guests {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: $margin-lg;
  padding: $padding-xs;
  color: $color-accent-dark;
  background-color: $dashboard-accent-beige;

  span {
    padding: $padding-xs;
  }

  .small_text {
    font-size: $small-size;
  }
}

.total {
  display: flex;
  flex-direction: column;
  font-size: 14px;

  .total_text {
    font-weight: $semi-weight;
  }
}

.budget {
  &>span {
    font-weight: $semi-weight;
    font-size: 1.2rem;
    color: $color-accent-dark;
  }
  .boxPrice{
    display: flex;
    margin-top: 1.5rem;
    /* width: 459px; */
    justify-content: space-between;
    width: 35%;  }
  .priceTitle{
    color: #4e4945;
    font-weight: 600;
    bottom: 8px;      
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}
  max-width: 100%;  margin-top: 3rem;
padding: 2rem;
  background-color: white;
  
  .box {
    box-sizing: border-box;
    background-color: white;
    padding: 1rem 4rem;
    box-shadow: 0px 3px 6px #f1f0ee;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    background-color: white;
  
    .box_title{
      margin-top: 1.5rem;
    }
    .box_title span{
      font-weight: 400;
      margin-top: 1rem;
   font-size: 1rem;
    color: #4e4945;
    }
    .priceTitle{
      color: #4e4945;
      font-weight: 600;
      bottom: 8px;      
      margin-top: 0.5rem;
      margin-bottom: 3rem;
  }
    
    .max_budget{
      button
    {      border: none;
      cursor: pointer;
      position: relative;
      left: 87px;
      bottom: -2px;
      background-color: transparent;
      color: #cd8256;
      font-weight: 600;
      svg{
        margin-left: 0.2rem;
      }
    }
    }
    box-sizing: border-box;
   background-color: white;
  }
}

#progressId {
  .react-sweet-progress-line-inner .react-sweet-progress-line-inner-status-active::before {
    animation: none !important;

    -webkit-animation: none !important;
  }
}
