@import './../../../assets/styles/sizing';
@import './../../../assets/styles/fonts';
@import './../../../assets/styles/colors';



.container{
  font-size: 1.3rem;
  overflow: hidden;
  padding: 1rem 6rem;
  background-color:$color-primary-bg;;
   height: 740px;
}

.progressbar {
    margin: 1rem 11rem;
    height: 10px;
    background-color: #e8e2dc;
    margin-bottom: 50px;
    border-radius: 21px;

  div {
    width: 33.3%;
    height: 100%;
    background-color: #AF4720;
    border-radius: 21px;

  }
  
}


.logo {
  color: $color-accent;
  font-size: 50px;
  font-family: $font-logo;
}


.container_content {
  height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.buttons_group {
  position: relative;
  display: flex;
  justify-content: space-between;
 
}
.active div {
  border-color: #AF4720 !important;
  color: #fff !important;
  background: #AF4720 !important;
}

.backBtn{
  background: none !important;
  border-style: none; 
   color: #AF4720;
   border-bottom:2px   #AF4720 solid;
   font-weight: $bold-weight;


   &:disabled{
     color: #eacab8;
     border-bottom:2px  #eacab8 solid;

   }
}

