$color-accent: #af4720;
$color-accent-dark: #4e4945;
$color-accent-brown: #63503e;
$color-primary-bg: #f9f9f8;
$color-text-btn: #faf7f4;
$bg-lightest: #e8e2dc;
$btn-page-color: #dcd9d5;

$btn-accent-light: #eacab8;

$text-color-gray: #707070;

$light-icon-color: #a5a19d;
$dashboard-accent: #cd8256;
$dashboard-accent-beige: #efece9;

$border-register: 2px $color-accent solid;
$border-count: 1px $color-accent solid;
$border-portal: 2px $color-accent-brown solid;
$border-main-nav: 1px $text-color-gray solid;
$border-dropdown: 1px $bg-lightest solid;
$border-tab: 1px $dashboard-accent solid;
$border-countdown: 1px #af4720 solid;
$light-box-shadow: 0px 3px 6px #f1f0ee;
$border-input: 1px $color-accent-brown solid;

$raduis-dashboard-button: 4px;
$raduis-dashboard-cards: 5px;
