$font-primary: 'Raleway', sans-serif;
$font-h1: 'Cinzel', serif;
$font-h2: 'Poiret One', cursive;
$font-logo: 'Abril Fatface', cursive;

$logo-nav-size: 1.5em;
$small-size: 0.8em;

$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$semi-weight: 600;
$bold-weight: 700;
$black-weight: 800;
