$padding-btn: 0.4em;
$btn-width-md: 10em;
$btn-width-sm: 8em;
$btn-width-lg: 15em;

$margin-xs: 0.5em;
$margin-sm: 1em;
$margin-md: 2em;
$margin-lg: 4em;
$margin-xl: 6em;
$margin-2xl: 8em;
$margin-3xl: 14em;

$padding-xs: 0.5em;
$padding-sm: 1em;
$padding-md: 2em;
$padding-lg: 4em;
$padding-xl: 6em;
$padding-2xl: 8em;
