@import 'colors';
@import 'fonts';
@import 'sizing';

.logo {
  font-family: $font-logo;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}
*,
body,
h1,
h2,
h3 {
  margin: 0;
}
body {
  font-family: $font-primary;
}
p {
  font-weight: $light-weight;
}

h1 {
  font-family: $font-h1;
  color: black;
  font-weight: $regular-weight;
}
h2 {
  font-family: $font-h2;
  color: black;
}

h3 {
  font-weight: $semi-weight;
  color: $color-accent-dark;
}

h4 {
  font-weight: $semi-weight;
  padding-right: $padding-sm;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-primary {
  background-color: $color-primary-bg;
}

button {
  font-family: $font-primary;
  font-weight: $medium-weight;
}
