@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';
@import './../../../assets/styles/fonts';
.dropdownMenu {
  margin: 1em;
  font-size: $small-size;
  padding: 1rem 2em;
  display: flex;
  Input {
    border: none;
  }

  input[type='date'] {
    position: relative;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
  }
}

.titleDropdown {
  padding: 0em $padding-sm;
  font-weight: $semi-weight;
  opacity: .5;
}

.containerButton {
  display:flex;
  justify-content: space-between;
  border-style: none;
  // background: none;
  color: $color-accent-dark;
  width: 100%;
  padding: 1rem;
}

.ArrowUp {
  transition: all 0.5s ease;
  transform: rotate(180deg);
}
.ArrowDown {
  transition: all 0.5s ease;
  transform: rotate(0deg);
}
