@import './../../assets/styles/colors';
@import './../../assets/styles/fonts';
@import './../../assets/styles/sizing';

.container {
  margin-top: 8em;
}
.text_middle {
  text-align: center;
  margin-bottom: 5rem;
}

.text_middle h2 {
  padding: $padding-sm;
}

.split {
  margin: $margin-md;
  display: flex;
  h2 {
    margin-bottom: $margin-sm;
  }
}

.arcs {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: $margin-3xl;
}

.arc_item {
  text-align: center;
  display: block;
  margin: $margin-sm;
  .item_img {
    vertical-align: bottom;
  }
  p {
    font-weight: $medium-weight;
    color: grey;
    width: 70%;
    margin: 0 auto;
    padding: $padding-sm;
  }
}
