@import './../../../assets//styles/colors';
@import './../../../assets//styles/sizing';
@import './../../../assets//styles/fonts';

.bg_popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_area {
  text-align: center;
  position: absolute;
  background: #f9f9f8;
  left: 50%;
  top: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
}
.close {
  text-align: right;
  padding: $padding-sm $padding-md;
}

.popup_body {
  padding: 0em 4em 1em;  h4{
  margin-bottom: 2rem;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  text-align: left;

  div{
    padding:.2rem 0rem;
  }
  div:last-child{
    display: flex;
    align-items: flex-start;
    .container{
      
    }
  }

}
.form {
  input:last-of-type {
    padding-top: $padding-lg;
  }
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: $small-size;
    margin-top: $margin-sm;
    color: $color-accent;
  }
}

.saveTask{
  display: flex;
    justify-content: flex-end;
}

.button_items {
  margin: $margin-md $margin-xs;
}

.form_button {
  margin: $margin-lg 0em;
  button {
    padding: $padding-xs;
    width: 100%;
  }
}
.footer {
  text-align: left;
  display: flex;
  flex-direction: column;
  span {
    font-size: $small-size;
    margin-bottom: $margin-sm;
  }
}

.text_OR {
  font-weight: $bold-weight;
  color: $color-accent-dark;
  padding: $padding-sm 0em;
}
