@import './../../assets/styles/colors';
@import './../../assets/styles/sizing';
@import './../../assets/styles/fonts';

.container {
  display: flex;
  justify-content: center;
  position: relative;
}
.cards {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 899px;
  row-gap: 2em;
  top: 2rem;
  right: -20rem;
  margin: 4em 1em;
  box-sizing: border-box;
}
.card_item {
  max-width: 22%;  margin: 0.5em;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #f1f0ee;

  .card_item:nth-child(4n + 1) {
    margin-left: 0;
  }
  .card_item:nth-child(4n) {
    margin-right: 0;
  }
  .card_detail {
    padding: $padding-xs;
    margin-left: $margin-sm;
  }

  .card_image {

    img {
      object-fit: cover;
      width: 100%;
      border-radius: $raduis-dashboard-button $raduis-dashboard-button 0 0;
    }
  }
  span {
    width: 100%;
    margin-left: $margin-sm;
  }

  .category {
    color: $color-accent-dark;
    font-size: $small-size;
  }
  .vendor_name {
    font-weight: $medium-weight;
  }
}
.deleteVendor{
    text-decoration: none;
    border-style: none;
    border: none;
    color: #4e4945;
    top: 15px;
   svg{
    opacity: 0.2; 

   }

  &:hover {
    color: #4e4945;
    svg{
      opacity: 1;

    }
  }
}