@import './../../assets/styles/sizing';

.carousel_area {
  display: flex;
  justify-content: center;
  margin-top: $margin-sm;
  .rsis-container {
    display: block !important;
  }
  .rsis-image {
    position: absolute !important;

    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }
}
