@import './../../../assets/styles/fonts';
@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';

.container {
  position: fixed;
  float: left;
  box-shadow: $light-box-shadow;
  background-color: white;
  left: 0;
  color: $light-icon-color;
  text-align: center;
  font-size: $small-size;
  overflow: hidden;
  height: 100vh;
  ul {
    padding: 0px;
  }

  li {
    list-style: none;
    transition: .3s;
    &:hover{

      color:#cd8256
    }
  }
}

.logo {
  color: $color-accent;
  font-size: 50px;
  font-family: $font-logo;
}
.item {
  margin: $margin-md;
  padding: $padding-xs;
}

.icon {
  margin-bottom: $margin-xs;
}
.settings {
  margin-top: $margin-xl;
  padding-bottom: $margin-lg;
}
