@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/sizing.scss';

.download_btn {
  display: flex;
  align-items: center;
  color: $color-text-btn;
  width: 100%;
  padding: $padding-sm $padding-sm;
  background-color: $color-accent-dark;
  text-decoration: none;
  border-style: none; 
  transition: 0.2s;

  &:hover{
    background-color: #efece9;
    color:$color-accent-dark;
  }
}
.button_icon {
  padding: 0em $padding-sm;
}
.button_text {
  padding: $padding-xs 0em;
}
