@import './../../../assets//styles/colors';
@import './../../../assets//styles/sizing';
@import './../../../assets//styles/fonts';

.bg_popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  
}

.buttonGroup{
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
.popup_area {
  text-align: center;
  position: absolute;
  background: #f9f9f8;
  left: 50%;
  top: 45%;
  width: 25%;
  transform: translate(-50%, -50%);
}
.close {
  text-align: right;
  padding: $padding-sm $padding-md;
}

.popup_body {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  h3{
    margin-bottom: 1rem;
  }
  span{
    font-size: .9rem;
    margin: 1rem 0rem;
  }

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_items {
  margin: $margin-md $margin-xs;
}

.form_button {
  margin: $margin-lg 0em;
  button {
    padding: $padding-xs;
    width: 100%;
  }
}
