@import './../../../assets/styles/colors';
@import './../../../assets/styles/fonts';
@import './../../../assets/styles/sizing';

.content {
  position: fixed;
  right: 0;
  float: right;
  width: 16%;
  margin-top: $margin-lg;
  overflow: hidden;
}

#img_profile {
  opacity: 0.4;
  background-color: $dashboard-accent-beige;
}

.profile_text {
  text-align: center;
  position: absolute;
  top: 20%;
  width: 100%;
  font-size: $small-size;
  .names {
    font-weight: $bold-weight;
    font-size: 15px;
    margin-bottom: $margin-sm;
  }
  .date {
    margin-bottom: $margin-xs;
  }
}

.container_tasks {
  padding: $padding-xs $padding-sm;
  background-color: $dashboard-accent-beige;
  .title_task {
    margin: $margin-sm 0em;
  }
}
.checkbox_container {
  div{
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  	width:180px; //change based on when you want the dots to appear
    height: 25px;
 
  }

}

.item_task {
  font-size: .9rem;
  display: flex;
  align-items: center;
  background-color: white;
  margin: $margin-xs 0em;
  padding: $padding-xs;

  &:hover{
    
    background-color: rgba(217, 137, 90, 0.174);
    color: #b27049;
    transition: all .5s ease-in-out;
   }
  .category_text {
    font-size: $small-size;
    color: grey;
  }
  .task_name {
    font-size: .8rem;
    text-align: left;
  }
  .chevron_right {
    cursor: pointer;
    color: $text-color-gray;
    margin-left: auto;  }
}
.seeMore {
  display: flex;
  color: $color-accent;
  font-size: $small-size;
  justify-content: flex-end;
  text-decoration: underline;
}
