@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';

.dashboard_button {
  background-color: $dashboard-accent !important;
  text-decoration: none !important;
  border-style: none !important;
  color: white !important;
  border-radius: $raduis-dashboard-cards !important;
  padding: $padding-xs $padding-sm !important;
  &:hover{
    background-color: #b9754d !important;
  }
  svg {
    margin-right: $margin-xs;
  }
}
