@import './../../../assets/styles/colors';
@import './../../../assets/styles/fonts';
@import './../../../assets/styles/sizing';

.container {
  display: flex;
  align-items: center;
  margin: 0em $margin-sm;
  svg {
    margin-right: $margin-sm;
  }
}
