@import './../../../assets/styles/fonts';
@import './../../../assets/styles/colors';
@import './../../../assets/styles/sizing';

#container_title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.title_dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
      span
{  font-weight: $bold-weight;
  color: $color-accent-dark;
  padding-bottom: $padding-md;}
}

.deleteTable{
  text-decoration: none;
  border-style: none;
  background: none;
border: none;  
color: #4e4945;
opacity: .2;

&:hover{
color: #cd8256;
opacity: 1;
}
}


.notFound{
  position: relative;
    top: 77px;
    right: 185px;
    p{
      font-size: .9rem;
      margin-top: .5rem;
      text-align: center;
    }
}
.container {
  margin-top: $margin-lg;
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-weight: $medium-weight;
}

.button_group {
  display: flex;
}
.table_overview {
  padding: $padding-md $padding-md;
  width: 60%;
  background-color: white;
}

.table_detail {
  padding: $padding-md $padding-md;
  background-color: white;
  color: $text-color-gray;
  width: 35%;
}
.number {
  display: flex;
  justify-content: space-between;
  padding: $padding-sm 0em;
}

.tables {
  display: flex;
  flex-wrap: wrap;
  margin: 0em 0em 0em $margin-lg;
  justify-content: flex-end;
}

.active_table_content{
  display: flex;
  cursor: pointer;
  margin:1rem;
  flex: 1 0 1;
  justify-content: center;
  align-items: center;
  width: 3em;
  font-size: 1.5em;
  height: 3em;
  color: white;
  background:  $dashboard-accent;
  border-radius: 50%;
  opacity: .7;
  
}
.table_content {
  display: flex;
  cursor: pointer;
  margin:1rem;
  flex: 1 0 1;
  justify-content: center;
  align-items: center;
  width: 3em;
  font-size: 1.5em;
  height: 3em;
  color: $dashboard-accent;
  background: #e5d3c7;
  border-radius: 50%;
  opacity: .7;

    &:hover{
      opacity: 1;
      transition:all .1s ease-in-out; 
    }
}
.tag_container {
  margin-top: $margin-sm;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $btn-accent-light;
  color: $color-accent;
  cursor: pointer;
  font-weight: $semi-weight;
  border-radius: 3px;
  width: 45%;
  margin-top: $margin-sm;
  padding: $margin-xs;
  font-size: $small-size;

  span {
    padding-left: $padding-xs;
  }
}
.add_button {
  float: right;
  margin: $margin-md 0em;
}
