@import './../../../assets/styles/colors';
@import './../../../assets/styles/fonts';
@import './../../../assets/styles/sizing';

.container {
  width: 100%;
  color: $color-accent-dark;
}

.main_content {
  background-color: white;
  margin: $margin-md 0em;
  color: $color-accent-dark;
  padding: $padding-md;
}
.title_dashboard {
  font-weight: $bold-weight;
  color: $color-accent-dark;
  padding-bottom: $padding-md;
}

.buttons_top {
  display: flex;
  justify-content: space-between;
  margin: $margin-sm 0em;
}
.buttonsGroup {
  display: flex;
}

.card_todo {
  display: flex;
  background-color: $dashboard-accent-beige;
  margin: 1em 0em;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;
    align-items: center;
  border-radius: 5px;
  justify-content: space-around;
  transition: all 1s;
  &:hover{
    background-color:#c6c2be;
  }
}
.card_active {
  display: flex;
  background-color: rgba(205, 130, 86, 0.4588235294);
  margin: 1em 0em;
  color: #b27049;
  margin: 1em 0em;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;
  align-items: center;
  border-radius: 5px;
  justify-content: space-around;
  transition: all 1s;
  &::after{
    border: 1px solid rgb(162, 162, 162) ;
  }
  &:hover{
    background-color:rgba(166, 80, 30, 0.484)
  }
}

.column1{
  width: 95%;
}
.column2{
  opacity: .3;
  transition: opacity .3s ease;
  &:hover{
    opacity: 1;
  }
}

.card_bottom{
  display: flex;
  margin-left: 2.2rem;
  padding-top: .5rem;
  font-size: .8rem;

  .card_date{
    opacity: .5;
    margin-right: 2rem;
    svg{
      margin-right: .5rem;

    }
  }
}

.checkbox_container {
  margin-right: $margin-lg;
}

#tag {
  display: flex;
  align-items: center;
  background-color: #dd6c4166;
  max-height: 1.5rem;
  border-radius: 4px;
  color: #af4720;
  padding: .2em 0.5em;
}
.container_section {
  $margin-sm: $margin-sm 0em;
  padding-bottom: $padding-sm;
}
.deleteTask{
  text-decoration: none;
  border-style: none;
  background: none;
border: none;  
color: #4e4945;

&:hover{
color: #cd8256;
opacity: 1;
}
}