@import '../../../assets/styles/fonts.scss';
@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/sizing.scss';

.primary {
  border: 2px solid transparent;
  width: $btn-width-md;
  padding: $padding-xs;
  color: $color-text-btn;
  font-weight: $medium-weight;
  background-color: $color-accent;
  text-decoration: none;
  transition: 0.2s;
  &:hover{
    color:$color-accent;
    border:2px solid $color-accent;
    background-color: transparent;
  }
}
