@import '../../assets/styles/sizing';
@import '../../assets/styles/fonts';
@import '../../assets/styles/colors';

.navbar_container {
  margin: 0em $margin-md;
}
.navbar_main ul {
  border-bottom: $border-main-nav;
  list-style-type: none;
  padding: $padding-sm;
  align-items: center;
}

.nav_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav_links li {
  display: inline-block;
  color: $color-accent-dark;
  text-decoration: none;  
}

.nav_links li::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: $color-accent-dark;
  transition: width 0.3s;
}

.nav_links li:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.r_nav {
  display: flex;
  align-items: center;

  .r_item {
    margin: 0 $margin-xs;
  }
}

.logo_area {
  text-align: center;
  width: 60%;
}

.logo {
  font-family: $font-h1;
  font-weight: $black-weight;
  font-size: $logo-nav-size;
}
.logo > span {
  font-family: $font-logo;
  font-weight: $regular-weight;
}
.slogan {
  font-family: $font-h1;
}
